@model IEnumerable<Library_System_Project_Core.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<br />

<h2 class="text-center">Teacher List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Of_Birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Joning_Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Of_Birth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone_Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    <img src="@Url.Content(item.ImageUrl)" width="100" height="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Joning_Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TeacherID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TeacherID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TeacherID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
