@model IEnumerable<Library_System_Project_Core.Models.BooksType>

@{
    ViewData["Title"] = "Index";
}

<br />

<h2 class="text-center">Books Type</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BooksTypeID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BooksTypeID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BooksTypeID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
