
<!DOCTYPE html>
<html lang-"en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Library_System_Project_Core</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
        body {
            background-color: #3b92eac2;
            
            font-family: 'Oxygen', sans-serif;
        }
        .navbar {
            background-image: url('../images/home/SOV.jpg');
        }

        .btn {
            background-color: slategray;
            background-color: #6c757d;
            border: none;
            color: white;
            font-size: 20px;
            cursor: pointer;
            height: 40px;
            text-align: center;
        }

        .dropbtn {
            font-size: 20px;
            border: none;
            outline: none;
            color: white;
            padding: 10px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #343a40eb;
            min-width: 10px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: white;
                padding: 5px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #70b0ef;
                }

        /*.dropdown:hover .dropbtn {
            background-color: #a4c2d0c2;
        }*/

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary border-bottom fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index"><img src="~/images/Home/SRlogo.jpg" alt="Company logo" width="50" height="40" class="rounded-circle" /> SR Library</a>

            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav nav-item">

                    @if (User.Identity.IsAuthenticated)
                    {


                        <li class="dropdown">
                            <button class="dropbtn"><i class="fa fa-university" style="font-size:25px;color: white"></i></button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="@Url.Action("Index", "Faculties")">Faculty List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Departments")">Departments List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Authors")">Author List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Publishers")">Publisher List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Students")">Student LIst</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Teachers")">Teacher List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Staffs")">Staff List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "BooksTypes")">Books Types</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Books")">Book List</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "IssueingBookDetails")">Issue Book</a>

                            </div>
                        </li>

                        <li class="dropdown">
                            <button class="dropbtn"><i class="fa fa-bars" style="font-size: 30px; color: white"></i></button>
                            <div class="dropdown-content">
                                <a class="dropdown-item" href="@Url.Action("Index", "Authors")">Author List</a>
                                <a class="dropdown-item" href="@Url.Action("MultipleDataInsert", "Faculties")">Multiple Data Insert</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Details")">Details List</a>

                            </div>
                        </li>
                    }
                </ul>

            </div>
            <partial name="_Partiallogin" />
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <br /><br />
        <hr />
        <footer>

            <div class="row">

                <div class="col-md-6">
                    <h6 class="heading"><b>Developer Information</b></h6>
                    Name : Sharmin Akter<br />
                    Trainee ID : 1252366<br />
                    Batch : ESAD-CS/CGNT-M/41/01<br />
                    <i class="fa fa-map-marker" style="font-size: 25px; color: white"></i> Narayanganj, Dhaka <br />
                    <i class="fa fa-phone" style="font-size:25px;color:white"></i> +01688-656198<br />
                    <i class="fa fa-envelope-o" style="font-size:22px;color:white"></i> sharminakteridbr41@gmail.com
                </div>

                <div class="col-md-6">
                    <h6 class="heading"><b>Social Media Link</b></h6>
                    <a href="https://www.facebook.com/sharmin.rumpa.7" class="fa fa-facebook" style="font-size:30px; color:white"></a>
                    <a href="#" class="fa fa-twitter" style="font-size:30px; color:white"></a>
                    <a href="#" class="fa fa-google" style="font-size:30px; color:white"></a>
                    <a href="#" class="fa fa-linkedin" style="font-size:30px; color:white"></a>
                    <a href="#" class="fa fa-youtube" style="font-size:30px; color:white"></a>
                    <a href="#" class="fa fa-instagram" style="font-size:30px; color:white"></a>
                    <br /><br /><br />
                    <p><b>Information About Project</b><a class="nav-item">@Html.ActionLink("Project Link", "AboutProject", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</a></p>

                </div>

            </div>

        </footer>
        <hr />
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <p class="fl_left">Copyright &copy; 2020-LibrarySystemManagement Project (On ASP.NET Core) - All Rights Reserved - <a href="#">Sharmin Akter</a></p>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
